<a href="https://colab.research.google.com/github/mgraudina/WoTech-2024-PHYTON/blob/main/08_24_L18_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**L18: Project 2: TV Marketing sales prediction ðŸ“ˆ || & Project 3 Titanic data prediction ðŸ”¢**


ðŸ“ˆ Project 2: TV Marketing (continuing from previous class) --> *NB! --> see L17 code*
1. Visualizing test vs predictions
2. Different error metrics and comparison for linear regression models

ðŸ”¢ Project 3: Titanic data
1. Using several classification models
2. Training classification models
3. Comparing classification models (accuracy score)
4. Confusion matrix

Data IMPORT

In [ ]:
import seaborn as sns
import pandas as pd

titanic_data = sns.load_dataset('titanic')

# seaborn has several datasets, titanic is one of them

In [ ]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Data INVESTIGATION

In [ ]:
titanic_data.isnull().sum() # checking null values

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
titanic_data.dtypes # checking data types

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
embark_town      object
alive            object
alone              bool
dtype: object

In [ ]:
# titanic_data.drop('deck', axis=1, inplace=True) # a lot of empty values

In [ ]:
titanic_data.drop(['alive', 'alone', 'adult_male'], axis=1, inplace=True)

In [ ]:
titanic_data.drop(['class'], axis=1, inplace=True) # sames as pclass

### Data TRANSFORMATION

In [ ]:
titanic_data['class'] = titanic_data['class'].astype(str) # modified the object from category > to > string

titanic_data.fillna(0, inplace=True) # replaces empty with null

In [ ]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,male,22.0,1,0,7.2500,S,man,Southampton
1,1,1,female,38.0,1,0,71.2833,C,woman,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,woman,Southampton
3,1,1,female,35.0,1,0,53.1000,S,woman,Southampton
4,0,3,male,35.0,0,0,8.0500,S,man,Southampton

In [ ]:
titanic_data['sex'].unique()

array(['male', 'female'], dtype=object)

In [ ]:
titanic_data['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [ ]:
# Sex column

sex_mapping = {'male':0, 'female':1} # dictionary
titanic_data['sex'] = titanic_data['sex'].map(sex_mapping) # replacement in columns that contain object

In [ ]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,0,22.0,1,0,7.2500,S,man,Southampton
1,1,1,1,38.0,1,0,71.2833,C,woman,Cherbourg
2,1,3,1,26.0,0,0,7.9250,S,woman,Southampton
3,1,1,1,35.0,1,0,53.1000,S,woman,Southampton
4,0,3,0,35.0,0,0,8.0500,S,man,Southampton

In [ ]:
# Embarked town

titanic_data['embark_town'].unique() # 0 vales >> cannot be replaced with 0
embarked_town_mapping = {'Southampton':1, 'Cherbourg':2, 'Queenstown':3, 0:0}
titanic_data['embark_town'] = titanic_data['embark_town'].map(embarked_town_mapping)

In [ ]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,0,22.0,1,0,7.2500,1,1,1
1,1,1,1,38.0,1,0,71.2833,2,2,2
2,1,3,1,26.0,0,0,7.9250,1,2,1
3,1,1,1,35.0,1,0,53.1000,1,2,1
4,0,3,0,35.0,0,0,8.0500,1,1,1

In [ ]:
# Embarked

titanic_data['embarked'].unique()
embarked_mapping = {'S':1, 'C':2, 'Q':3, 0:0}
titanic_data['embarked'] = titanic_data['embarked'].map(embarked_mapping)
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,0,22.0,1,0,7.2500,1,man,Southampton
1,1,1,1,38.0,1,0,71.2833,2,woman,Cherbourg
2,1,3,1,26.0,0,0,7.9250,1,woman,Southampton
3,1,1,1,35.0,1,0,53.1000,1,woman,Southampton
4,0,3,0,35.0,0,0,8.0500,1,man,Southampton

In [ ]:
# Who

titanic_data['who'].unique()
who_mapping = {'man':1, 'woman':2, 'child':3}
titanic_data['who'] = titanic_data['who'].map(who_mapping)
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,0,22.0,1,0,7.2500,1,1,Southampton
1,1,1,1,38.0,1,0,71.2833,2,2,Cherbourg
2,1,3,1,26.0,0,0,7.9250,1,2,Southampton
3,1,1,1,35.0,1,0,53.1000,1,2,Southampton
4,0,3,0,35.0,0,0,8.0500,1,1,Southampton

In [ ]:
titanic_data.info() # now all data --> int or float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    int64
 8   who          891 non-null    int64
 9   embark_town  891 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 69.7 KB

In [ ]:
# LabelEncoder > labels values 0 to n-1 (to replace all in one go)
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

DATA MODELING

In [ ]:
# Trying to predict who would survive in Titanic Disaster

from sklearn.model_selection import train_test_split

X = titanic_data.drop('survived', axis=1) # FEATURES: exluding dependent variable survived, column (=1)
y = titanic_data['survived'] # DEPENDENT VARIABLE: only keeping survived column

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

# random state = every time you run the code, the split is the same, not a rule

Logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression # import

In [ ]:
model = LogisticRegression() # initialize

In [ ]:
model.fit(X_train, y_train) # fit

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
predicition_results = model.predict(X_test)
predicition_results

# probablity: 0 - did not survive; 1 - survived

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0])

In [ ]:
# to control accuracy: compare y_test (actual values), sklearn --> accuracy

**TEAMWORK**

1. EASY: Add DecisionTreeClassifier to titanic data predictions.

2. HARD: Investigate what is cross-validation and implement cross-validation on any classification model you prefer on Titanic data. Explain to each other, what do you see.

*Example:*

*k_fold = KFold(n_splits=10, shuffle=True, random_state=42)*

*accuracy_scores = cross_val_score(model_knn_cv, X, y, cv=k_fold, scoring='accuracy')*

**DecisionTreeClassifier**

In [ ]:
from sklearn import tree # import
model_tree = tree.DecisionTreeClassifier() # initialize
model_tree.fit(X_train, y_train) #fit

# https://scikit-learn.org/stable/modules/tree.html

In [ ]:
model_tree.predict(X_test) # predict

In [ ]:
from sklearn.datasets import load_iris
from sklearn import tree
iris = load_iris()
X_train, y_train = iris.data, iris.target
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

tree.plot_tree(clf)

**Cross-validation**

In [ ]:
import numpy as np
from sklearn.model_selection import KFold, cross_val_score

k_fold = KFold(n_splits=10, shuffle=True, random_state=42)
for train, test in k_fold.split(X_train):
    print("%s %s" % (train, test))
accuracy_scores = cross_val_score(model_tree, X, y, cv=k_fold, scoring='accuracy')
print(f'The accuracy scores are {accuracy_scores}')